@import url('https://fonts.googleapis.com/css2?family=Bitcount+Grid+Double:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitcount+Grid+Double:wght@100..900&family=Smooch+Sans:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitcount+Grid+Double:wght@100..900&family=Smooch+Sans:wght@100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

.ubuntu {
    text-align: justify;
    font-family: "Smooch Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 20px;
    font-style: normal;
    padding: 15px;
    font-size: 14px;
    line-height: 1.5;
    color: white;
}
/*Selector universal*/
* {
    margin: 0;
    padding: 0;
}

/*Selector de tipo de etiquetado*/
body {
    background-color: rgb(3, 146, 146);
    color: white;
}

ul {
    text-align: center;
    padding: 10px;
    font-family: fantasy;
    font-size: 19px;
    text-transform: uppercase;
}

li {
    display: inline;
    margin: 3em;
    padding: 9px, 28px;
}

li a {
    text-decoration: underline;
}

li a:hover {
    color: blueviolet;
    font-size: 31px;
}

/*Selector de ID*/
#contenedor {
    width: auto;
    height: auto;
    background-color: rgb(100, 134, 134);
    margin: 39px;
    padding: 21px;
    border-radius: 25px;
    box-shadow: 0px 3px 7px 1px #201e3d;
}

#encabezado {
    width: auto;
    height: auto;
    background-color: #4b9692;
    margin: 2em;
    text-align: center;
    font-family: 'Bitcount Grid Double';
    font-style: normal;
    font-size: 18px;
    padding-top: 16px;
    padding-bottom: 26px;
    border-radius: 6px;
    box-shadow: 0px 2px 5px 0px #371e3d;
}

/*Selector de clase*/

.menu {
    height: auto;
    width: auto;
    background-color: black;
    margin: 1em;
    border-radius: 4px;
}

.modelo {
    padding: 10px;
    text-align: center;
    font-family: 'Bitcount Grid Double';
    font-size: 12px;
    border: transparent;
    font-weight: bold;
}

.description {
    font-family: fantasy;
    font-weight: 400px;
    text-align: justify;
    font-size: 15px;
    padding: 7px 23px;
    font-style: normal;
    background-color: #82adab;
    color: #000;
    height: 400px;
    width: 260px;
}

.boton {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: #000;
    background-color: white;
    text-align: center;
    width: 100%;
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
}

.boton:hover {
    background-color: #000;
    color: white;
    transform: scale(1, 1);
    transform: all 0.9999999999999999999999999999s ease;
}

.footer {
    background-color: #222;
    color: white;
    text-align: center;
    padding: 20px 10px;
}

hr {
    border: none;
    height: 4px;
    background-color: #000;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 3);
    margin: 20px 0;
}

.tarjetita {
    box-shadow: 0 4px 8px 0 rgb(44, 41, 37);
    overflow: hidden;
    max-width: 330px;
    height: 100%;
    margin: auto;
    text-align: center;
    border: 2px solid;
    border-radius: 10px;
    border: transparent;
    margin-top: 15px;
    margin-bottom: 20px;
}

.contenedorcitosa {
    display: flex;
    flex-direction: row;
    background-color: rgb(41, 90, 88);
    padding: 10px;
    border: 2px solid black;
    width: auto;
    height: auto;
}

.imagen {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

}

.imagen img {
    width: 300px;
    height: 400px;
    object-fit: contain;
}

.menu .navbar ul li {
    position: relative;
    float: left;

}

.menu .navbar ul li a {
    font-size: 18px;
    padding: 20px;
    color: white;
    display: block;

}

.menu .navbar ul li a:hover {
    color: darkcyan;
}


.menu-icon {
    width: 25px;

}

.menu label {
    cursor: pointer;
    display: none;
}
p {
    text-align: center;
    color: black;
    z-index: 1000;

}

@media (max-width:660px) {
    .menu {
        padding: 30px;
    }
    .menu label {
        display: initial;
    }
    .menu .navbar {
        position: absolute;
        top: 100%;
        left: 0%;
        right: 0%;
        background-color: rgb(5, 5, 4);
        display: none;
    }
    .menu .navbar ul li {
        width: 100%;

    }
    .menu:checked~.navbar {
        display: initial;
    }
}